.dice-container {
  display: flex;
  flex-wrap: wrap;
}

.dice {
  backface-visibility: hidden;
  fill: var(--primary);
  filter: drop-shadow(var(--termShadow));
  height: 36px;
  margin: 0 16px 16px 0;
  stroke: var(--primary);
  transition: opacity 0.2s ease-out;
  width: 36px;

  &.dice-filtered {
    opacity: 0.5;
  }
}
