.dice-container {
  display: flex;
  flex-wrap: wrap;
}

.dice {
  margin: 0 16px 16px 0;
  height: 36px;
  filter: drop-shadow(var(--termShadow));
  stroke: var(--primary);
  fill: var(--primary);
  width: 36px;

  &.dice-filtered {
    opacity: 0.5;
  }
}
