@import "variables.css";
@import "dice.css";
@import "select.css";

* {
  box-sizing: border-box;
}

body {
  background-color: var(--secondary);
  color: var(--primary);
  font-family: 'VT323', monospace;
  font-size: var(--fontSize);
  text-shadow: var(--termShadow);

  -webkit-tap-highlight-color: var(--primary);
}

button {
  @apply --fonts;

  background: transparent;
  border: 2px solid var(--primary);
  box-shadow: var(--termShadow);
  cursor: pointer;
  outline: none;
  transition: opacity 0.2s ease;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

header {
  display: inline-block;
  margin-bottom: 16px;

  & .header-ascii {
    font-size: 2.5vw;
    max-width: 100%;
    white-space: pre;
  }

  & .header-tagline {
    text-align: end;
  }
}

input {
  @apply --fonts;

  background: var(--primary);
  border-width: 0;
  box-shadow: var(--termShadow);
  color: var(--secondary);
  max-width: 80px;
  outline: none;

  &::-webkit-inner-spin-button {
    display: none;
  }
}

label {
  display: inline-block;
  margin: 0 16px 16px 0;
}

.btn-group {
  display: flex;

  & button {
    margin-right: 16px;
  }
}

.container {
  margin: 0 auto;
  max-width: 768px;
}

.dice-form {
  margin-bottom: 16px;

  & .select {
    margin-right: 16px;
  }
}

.dice-size {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.form-group {
  margin-bottom: 16px;
}

.results-container {
  padding: 16px 0;
  position: relative;

  &:before {
    background: transparent;
    border-top: 2px solid var(--primary);
    box-shadow: var(--termShadow);
    content: '';
    height: 2px;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.results-stats {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 0;
  padding: 0;

  & li {
    margin-right: 8px;
    padding: 8px;
  }
}

.size-selector {
  border-width: 0;
  box-shadow: none;
  display: inline;
}

@media (min-width: 768px) {
  header .header-ascii {
    font-size: 16px;
  }
}
