:root {
  --primary: #48E048;
  --secondary: #111;

  --fontSize: 18px;

  --termShadow: 0 0 4px color(var(--primary) l(- 20%));

  --selectArrowSize: 8px;

  --fonts: {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-shadow: inherit;
  }
}

